@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Garage</h1>

@if (@TempData["AlertMessage"] != null)
{
    string message = TempData["AlertMessage"].ToString();
    <message message="@message"></message>
}

    <form asp-action="Search" method="get">
        <div class="form-group">
            <P> Search </P>
            <input type="text" name="vehicleProp" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>

    <partial name="VehiclePartial"/>

