@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Garage</h1>

@if (@TempData["AlertMessage"] != null)
{
    string message = TempData["AlertMessage"].ToString();
    <message message="@message"></message>
}


<p>
    <a asp-action="Parking">Parking a vehicle</a>
</p>

    <partial name="VehiclePartial"/>

